html {
  scroll-behavior: smooth;
}

body,
button {
  // background-color: $primary-bg;
  color: $primary-text;
  font-family: 'Roboto Slab', serif;
  // margin: 0 auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
  // height: auto;
  object-fit: cover;
}
